#main-container {
    max-width: 25%;
}

.image-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

#image {
    margin-top: 3rem;
    max-width: 800px;
    max-heigth: 500px;
    width: auto;
    heigth: auto;
    border: 3px solid white;
    border-radius: 25px;
}

.color-sample {
    height: 30px;
    width: 300px;
    font-style: italic;
    text-align: center;
}

.color-sample:hover {
    color: gold;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

input[type="submit"] {
    margin-bottom: 3rem;
    margin-left: 40%;
}